body{
    background-color: rgba(106, 1, 106, 0.816);
    color: #ffffff;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;

}
/*INICIO DEL HEADER */
header{
    width: 100%;
    background-color: rgb(192, 24, 192);
}
.header-nav{
    background-color: rgb(192, 24, 192);
}
.navbar-brand img{
    border-radius: 50%;
}
.navbar-brand small{
    color: #e0d7ff;
}
.navbar-nav .nav-link{
  font-weight: 600;
}

/* FIN DEL HEADER */
/* INICIO DEL MAIN*/

/*INDEX.HTML*/
.card,.card-body{
    color: #000;
}
.par-present{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.accordion{
    margin-top: 3px;
}
.accordion-body{
    color: #000;
}
.title-staff{
    margin-top: 15px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.card-img-top{
    height: 220px;
    object-fit: cover;
}
.staff-body{
    display: flex;
    flex-direction: column;
}
/*FINAL INDEX.HTML */

/*INCIO GALERIA.HTML */

.galeria-item{
  height: 330px;     /* para que se note sí o sí */
  overflow: hidden;
}
.galeria-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    transition: 
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;

}
.galeria-item:hover img{
    transform: scale(1.12);
    box-shadow: 0 18px 45px rgba(0, 0, 0, .35);
    z-index: 10;
}
/*FINAL GALERIA.HTML */

/*INCIO CONTACTO.HTML */

.h4-form{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.container-form{
  max-width: 1100px;
  
  padding: 20px;
  
}


.form-cont{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  align-items: start;
}


.form-cont label{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  color: #fff;
  font-weight: 600;
}


.form-cont input,
.form-cont textarea{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}


.form-cont .full{
  grid-column: 1 / -1;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
  font-weight: 600;
}


.form-cont .form_buttons{
  grid-column: 1 / -1;
  display: flex;
  gap: 12px;
  justify-content: center;  
}


.form-cont .form_buttons input{
  width: auto;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  align-items: center;
}
.form_buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.container-maps {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

iframe{
    margin-top: 10px;
}
/*FINAL CONTACTO.HTML */


/*FINAL DEL MAIN*/

/*INICIO DEL FOOTER*/
.container-footer{
    background-color:rgb(192, 24, 192) ;
}
.container-footer nav a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 80px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.logo-footer{
    display: flex;
    margin-right: 200px;
    justify-content: center;
}
.logo-footer img{
    width: 80px;
    height: auto;
    opacity: 0.9;
    margin-left: 75%;
    margin-top: 15px;
    border-radius: 50%;
}
.logo-redes{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 50px;
}
.logo-redes a{
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3 ease;
}
.logo-redes a:hover{
    transform: scale(1.2);
    color: #000;
}